.gallery-container {
  .gallery {
    background: transparent;

    .gallery-content {
      display: flex;
      flex-flow: row nowrap;
      column-gap: 1.8rem;
      width: auto;

      .gallery-image {
        width: 400px;
        height: 400px;
        display: block;
        border: var(--pewter-blue) 2px solid;
      }
    }
  }
}