@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');

:root {
  /* CSS HEX */
  --indigo-dye: #134074ff;
  --prussian-blue: #13315cff;
  --oxford-blue: #0b2545ff;
  --pewter-blue: #8da9c4ff;
  --mint-cream: #eef4edff;
  --primary-font: 'Nunito', sans-serif;
}
