.list-product-container {
  width: 1200px;

  .two {
    width: 800px;
    margin: 0 auto;
  }

  .three {
    width: 1000px;
    margin: 0 auto;
  }

  .four {
    width: 1200px;
    margin: 0 auto;
  }

  .list-product {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: start;
    align-content: start;
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 2rem;
  }
}




